.form123 {
    /* background texture from https://www.transparenttextures.com/escheresque.html */
    background-image: url('../images/escheresque-1920x1080.png');
    background-repeat: repeat;
}

.form-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    
}

h1, p {
    color: #c74175;
    font-family: 'Righteous', sans-serif;
}


.card {
    background-color: rgb(255, 239, 248);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0px 5px 10px #a32555;
}

#error-msg {
    color:rgb(177, 29, 29);
    font-weight: bold;
    padding-bottom: 3px;
}

.form-input, #commentInput {
    width: 90%;
    padding: 10px;
    border: 2px solid pink;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#commentInput {
    resize: vertical;
}

#submitBtn{
    background-color: #c74175;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Righteous', sans-serif;
    font-size: large;
}