.overlay {
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(99, 99, 99, 0.446);
}

.modal-card {
    background-color: rgb(255, 255, 255);
    padding: 70px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgb(121, 120, 120);
}

#modal-btn {
    background-color: #c74175;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}